.DivMaster{
    background-color: gray;
    border-radius: 20px;
    /* height: 40rem; */
    /* width: 30rem; */
    margin-top: 50px;

}

h3{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(14, 13, 13);
}

h2{
    font-family: 'Times New Roman', Times, serif;

}
.title{
    padding-top: 8px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    text-align: center;
    /* background-color: rgb(59, 59, 90); */
    border-radius: 6px;
    height: 40px;
}

.Input{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    width: 10rem;
    height: 2.5rem;
    /* border-color: rgb(125, 125, 202); */

}

.Button{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-color: rgb(125, 125, 202);
    margin-top: 60px;
    border-radius: 20px;
    width: 110px;
    height: 40px;
    color: antiquewhite;
    
}

  
#calcular{
    background-color: rgb(187, 138, 46);
}

#limpar{
    background-color: rgb(67, 67, 197);
}

#resultado{
    background-color: rgb(187, 138, 46); 
}

.DivTabela{

    color: white;
}

.DivTabela, .DivBotao, .DivResultado, .DivPesoAltura{
    /* border: black solid;
    border-radius: 10px; */
   
}

